{% extends 'base.html' %}
{% block content %}

<div
  class="hero min-h-screen"
  style="background-image: url(https://64.media.tumblr.com/a32eef3c6cc2389c254a22ef06b3259b/b81f0327a444c7a5-52/s540x810/987ebaf3eb9b33ded1e440615ec7b56c4dbddad5.gifv);">

  <div class="hero-overlay bg-opacity-60"></div>

  <!-- Back Button -->
  <a href="{% url 'visualizer:create' %}" 
  class="btn btn-outline btn-sm text-white border-white absolute top-8 left-8 z-50">Back</a>

  <div class="hero-content text-neutral-content text-center flex flex-col items-center relative w-full">
    
    

    <!-- Error Handling -->
    {% if messages %}
      <div class="w-full max-w-lg mx-auto mb-6">
        {% for message in messages %}
          <div class="alert alert-info bg-blue-200 text-blue-800 rounded-md p-4" role="alert">
            <span class="font-medium">{{ message }}</span>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Title -->
    <div>
      <h1 class="text-5xl font-bold mb-4">Upload your files here</h1>
      <h3 class="text-lg text-gray-300 mb-8">The files may be CSV, JSON, etc.</h3>
    </div>

    <!-- File Upload -->
    <form action="{% url 'visualizer:create_upload' %}" method="post" enctype="multipart/form-data" class="w-full max-w-lg mx-auto">
      {% csrf_token %}
      
      <div class="mb-6">
        <label for="file" class="block text-lg font-medium text-gray-200">Upload File</label>
        <input required id="file" type="file" name="file" class="file-input file-input-bordered w-full mt-2" />
      </div>
      
      <!-- Submit -->
      <div class="mt-6">
        <button type="submit" class="btn btn-primary w-full">Generate Graphics</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
